.mama{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1250px;
    justify-content: space-between;
    padding: 20px 0;
}
body{
    background-color: gray;
    padding: 10px 0;
}
.bea{
    flex: 1 1 250px;
    margin: 25px;
}
footer{
    background-color: rgb(59, 9, 240);
    color: gray;
    padding: 15px 0;
}
.bea ul li a{
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}
form{
    text-align: center;
    margin: 15px;
}
#o{
    text-align: center;
}
table{
    background-color: aliceblue;
    text-align: center;
}

#boy{
    text-align: center;
    font-size: 15px;
    border-top: 2px solid black;
}
nav{
    text-align: right;
    font-size: 20px;
    padding: 10px;
    background-color: black;
}
a{
    color: whitesmoke;
    text-decoration: none;
    border-radius: 25px;
    margin: 10px;
}
